In [4]:
import math 
import numpy as np
import pandas as pd

from sklearn.linear_model import LinearRegression
from typing import List

In [5]:
df = pd.read_csv("../csv/test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [16]:
def decent(x:List[int], y:List[int]) -> int:
    k_curr = b_curr = 0
    iterations = 100000
    n = len(x)
    slash_n = 1/n
    learning_rate = 0.0002
    cost_prev = 0

    for i in range(iterations):
        y_pred = k_curr * x + b_curr
        cost = slash_n * sum([value ** 2 for value in (y - y_pred)])
        kd = -2 * slash_n * sum(x * (y - y_pred))
        bd = -2 * slash_n * sum(y - y_pred)

        k_curr -= kd * learning_rate
        b_curr -= bd * learning_rate

        if math.isclose(cost, cost_prev, rel_tol=1e-20):
            break
        
        cost_prev = cost
    
    return k_curr, b_curr

In [17]:
m = np.array(df.math)
cs = np.array(df.cs)

print(decent(m, cs))

(1.0204362110820604, 1.72387921708579)

In [15]:
reg = LinearRegression()
reg.fit(df[["math"]], cs)
print(reg.coef_, reg.intercept_)

[1.01773624] 1.9152193111568891